<?xml version="1.0"?>
<!-- 
/** 
 * System config
 *
 * @category   Aydus
 * @package    Aydus_DisableCheckoutShipping
 * @author     Aydus <davidt@aydus.com>
 */
-->
<config>
    <sections>
        <google>
            <groups>
                <analytics>
                    <fields>
                        <track_admin_orders translate="label comment" module="aydus_adminorderanalytics">
                            <label>Track Admin Orders</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Send ecommerce tracking information to Google Analytics.]]></comment>
                        </track_admin_orders>                                      
                    </fields>
                </analytics>
            </groups>
        </google>
    </sections>
</config>

